.vscode/**
src/**
node_modules/**
../**
**/*.ts
**/*.tsx
**/*.map
**/*.vsix
coverage/**
esbuild.mjs
esbuild.webview.mjs
scripts/**
tsconfig.json
tsconfig.webview.json
.gitignore
buildspec.yml
**/protocol.test.ts
