openapi: 3.0.3
info:
  title: WalkCroach Public SDK API
  version: '1.0.0'
  description: |
    Control plane for `@walkcroach/sdk` and `@walkcroach/sdk-mcp`.

    **Path note:** Behind API Gateway the stage is already named `v1`.
    Custom domain `api.walkcroach.rinegansolutions.com` maps base path
    `v1` → stage `v1`, so public URLs look like
    `https://api.walkcroach.rinegansolutions.com/v1/sdk-health`.
    Clients using `invoke_url` / custom-domain base ending in `/v1` call
    stage-relative paths (`/keys`, `/memory/…`, `/sdk-health`).
    The TypeScript SDK uses host origin + `/v1/...` absolute paths — same
    public URLs.

    Agent smoke health remains `GET /health` on the shared gateway and is
    **not** this document. SDK capability health is `GET /sdk-health` (or
    `/v1/health` on the ide-local server).
servers:
  - url: https://api.walkcroach.rinegansolutions.com/v1
    description: Production custom domain (P5.1)
  - url: http://localhost:3003/v1
    description: ide-api local server (`npm run dev:ide`)
paths:
  /sdk-health:
    get:
      operationId: getSdkHealth
      summary: SDK liveness + capabilities + retention window
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdkHealth'
  /health:
    get:
      operationId: getSdkHealthAlias
      summary: Same as /sdk-health (ide-local and ide-only hosts)
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdkHealth'
  /keys:
    get:
      operationId: listApiKeys
      summary: List API keys for the signed-in user
      security:
        - cognitoBearer: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                properties:
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKeySummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createApiKey
      summary: Mint an API key (plaintext returned once)
      security:
        - cognitoBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  maxLength: 100
                scopes:
                  type: array
                  items:
                    $ref: '#/components/schemas/ApiKeyScope'
                expiresInDays:
                  type: number
                  minimum: 1
                  maximum: 365
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedApiKey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /keys/{id}:
    delete:
      operationId: revokeApiKey
      summary: Revoke an API key
      security:
        - cognitoBearer: []
      parameters:
        - $ref: '#/components/parameters/KeyId'
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                required: [ok, id]
                properties:
                  ok:
                    type: boolean
                  id:
                    type: string
                    format: uuid
        '404':
          $ref: '#/components/responses/NotFound'
  /keys/usage:
    get:
      operationId: listApiKeyUsage
      summary: Per-key remember/recall/import counts for the current month
      security:
        - cognitoBearer: []
      responses:
        '200':
          description: Aggregates from usage_ledger (metadata.keyId)
  /memory/entries:
    get:
      operationId: listMemoryEntries
      summary: List recent memory entries
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      parameters:
        - $ref: '#/components/parameters/ProjectIdQuery'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: surfaces
          in: query
          schema:
            type: string
            description: Comma-separated source_surface filter
      responses:
        '200':
          description: OK
    post:
      operationId: rememberMemory
      summary: Write a memory entry (may supersede)
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RememberRequest'
      responses:
        '200':
          description: Written
  /memory/recall:
    post:
      operationId: recallMemory
      summary: Semantic recall (project-scoped)
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecallRequest'
      responses:
        '200':
          description: Hits
  /memory/diff:
    post:
      operationId: diffMemory
      summary: Belief diff between two instants
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      responses:
        '200':
          description: Diff
  /memory/export:
    get:
      operationId: exportMemory
      summary: Portable export bundle
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      parameters:
        - $ref: '#/components/parameters/ProjectIdQuery'
      responses:
        '200':
          description: Bundle
  /memory/import:
    post:
      operationId: importMemory
      summary: Idempotent import
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      responses:
        '200':
          description: Import result
        '429':
          description: Quota exceeded
  /memory/erase:
    post:
      operationId: eraseMemory
      summary: Tombstone erase (ADR-0002) — redacts text, nulls embedding, audits
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [projectId, reason]
              properties:
                projectId:
                  type: string
                  format: uuid
                reason:
                  type: string
                  maxLength: 500
                entryIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                exportFirst:
                  type: boolean
                  description: Return an export bundle before tombstoning
      responses:
        '200':
          description: Erase result
  /memory/audit:
    get:
      operationId: listMemoryAudit
      summary: Append-only control-plane audit for a project
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      parameters:
        - $ref: '#/components/parameters/ProjectIdQuery'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
      responses:
        '200':
          description: Audit events
  /content/publish:
    post:
      operationId: publishContent
      summary: Start a programmatic content publish run
      description: |
        Accepts a document source and returns a run handle immediately.
        Poll `GET /runs/{id}` (with `afterSeq`) until terminal, or use the
        TypeScript SDK `RunHandle.wait({ onProgress })`.

        **Contract:** `content.publish/v1`.

        **Plan approval (A1):** the Plan stage always **auto-approves** on this
        async path — there is no live HITL channel. `requirePlanApproval` /
        `planApproval: required` are rejected at the SDK client (and must not
        be relied on server-side in v1). Interactive plan review is IDE-only.

        Progress events include Graph `stage.*`, `plan.auto_approved`, and
        `critic.*` (plus lifecycle `started` / `finished` / `interrupt`).
        Engine tool noise may also appear; filter with SDK helpers.

        When `dryRun` is true, `target.repo` may be omitted (no-target dry-run).
        When `projectId` is omitted, the server ensures `__walkcroach_sdk__`.
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishContentRequest'
      responses:
        '200':
          description: Existing run returned for idempotency key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunAccepted'
        '202':
          description: Fresh run accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunAccepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          description: Credit quota exceeded
  /content/ensure-project:
    post:
      operationId: ensureProject
      summary: Get-or-create the default SDK project
      description: |
        Idempotent. Default name `__walkcroach_sdk__`. Prefer omitting
        `projectId` on publish (server auto-ensures); this endpoint is for
        callers that need the id first.
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 120
                  description: Optional override; defaults to __walkcroach_sdk__
      responses:
        '200':
          description: Existing project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnsuredProject'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnsuredProject'
  /graphs/catalog:
    get:
      operationId: getGraphsCatalog
      summary: List platform Run Graph node types, presets, and caps
      description: |
        Closed catalog for `graph.run/v1` (Phase 6b / ADR-I).
        Customers compose these node types only — no BYO tools, HostAdapter,
        or arbitrary code nodes. `content.publish` is a **named preset**, not
        a node type.
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      responses:
        '200':
          description: Catalog
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphsCatalog'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /graphs/validate:
    post:
      operationId: validateGraph
      summary: Validate a public graph definition (fail-closed on BYO)
      description: |
        Rejects unknown node types, forbidden BYO keys (`tools`, `hostAdapter`, …),
        illegal edge predicates, and bound violations. Does not execute.
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphsValidateRequest'
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphsValidateResponse'
        '400':
          description: Invalid graph / BYO rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphsValidateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /graphs/run:
    post:
      operationId: runGraph
      summary: Submit a catalog-only Run Graph (or content.publish preset)
      description: |
        **Contract:** `graph.run/v1`.

        Pass either `graph` (catalog definition) or `preset: content.publish`
        (forwards to the content.publish pipeline). Same poll / wait /
        onProgress path as other durable runs (`GET /runs/{id}`).

        Requires `content:run`. Metered as `graph_run` (custom graphs) or
        `content_publish` (preset).
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphsRunRequest'
      responses:
        '200':
          description: Existing run returned for idempotency key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunAccepted'
        '202':
          description: Fresh run accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunAccepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          description: Credit quota exceeded
  /runs/{id}:
    get:
      operationId: getRun
      summary: Poll run status / events (includes threadId + interrupt when paused)
      description: |
        Requires `memory:read` **or** `content:run` so publish-only keys can wait.
        Pass `afterSeq` to receive only new events since the last poll.
        Response schema: `RunSnapshot` (status, result, events, interrupt).
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      parameters:
        - $ref: '#/components/parameters/RunId'
        - name: afterSeq
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Return events with seq greater than this value
        - name: events
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
          description: Max events to return (server may clamp)
      responses:
        '200':
          description: Snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunSnapshot'
    delete:
      operationId: cancelRun
      summary: Cancel a run
      description: Requires `memory:write` **or** `content:run`.
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      parameters:
        - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          description: Cancelled
  /runs/{id}/resume:
    post:
      operationId: resumeRun
      summary: Resume an interrupted run (LangGraph-style interruptId + value)
      security:
        - cognitoBearer: []
        - apiKeyBearer: []
      parameters:
        - $ref: '#/components/parameters/RunId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [interruptId, value]
              properties:
                interruptId:
                  type: string
                value: {}
      responses:
        '200':
          description: Re-queued
        '409':
          description: Not interrupted / interrupt id mismatch
components:
  securitySchemes:
    cognitoBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cognito id/access token. Required for key management.
    apiKeyBearer:
      type: http
      scheme: bearer
      description: 'API key (`wc_live_…`). Server-side only.'
  parameters:
    KeyId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    RunId:
      name: id
      in: path
      required: true
      schema:
        type: string
    ProjectIdQuery:
      name: projectId
      in: query
      required: true
      schema:
        type: string
        format: uuid
  responses:
    BadRequest:
      description: Validation error
    Unauthorized:
      description: Missing/invalid credentials
    Forbidden:
      description: Authenticated but not allowed (e.g. API key managing keys)
    NotFound:
      description: Not found (or not yours)
  schemas:
    ApiKeyScope:
      type: string
      enum: [memory:read, memory:write, content:run]
    ApiKeySummary:
      type: object
      required: [id, name, prefix, scopes, createdAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        prefix:
          type: string
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/ApiKeyScope'
        createdAt:
          type: string
          format: date-time
        lastUsedAt:
          type: string
          format: date-time
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        revokedAt:
          type: string
          format: date-time
          nullable: true
    CreatedApiKey:
      allOf:
        - $ref: '#/components/schemas/ApiKeySummary'
        - type: object
          required: [key, warning]
          properties:
            key:
              type: string
            warning:
              type: string
    SdkHealth:
      type: object
      required: [ok, surface, version, capabilities, retention]
      properties:
        ok:
          type: boolean
        surface:
          type: string
          enum: [sdk]
        version:
          type: string
          enum: [v1]
        capabilities:
          type: array
          items:
            type: string
        retention:
          type: object
          required: [asOfSeconds, asOfHuman, mechanism, note]
          properties:
            asOfSeconds:
              type: integer
              enum: [90000]
            asOfHuman:
              type: string
            mechanism:
              type: string
              enum: [cockroachdb_mvcc_gc_ttl]
            note:
              type: string
            governance:
              type: object
              properties:
                asOf:
                  type: string
                audit:
                  type: string
                erase:
                  type: string
    MemoryKind:
      type: string
      enum: [decision, preference, convention, summary, capture, qa]
    RememberRequest:
      type: object
      required: [projectId, text]
      properties:
        projectId:
          type: string
          format: uuid
        text:
          type: string
        kind:
          $ref: '#/components/schemas/MemoryKind'
        surface:
          type: string
    RecallRequest:
      type: object
      required: [projectId, query]
      properties:
        projectId:
          type: string
          format: uuid
        query:
          type: string
        limit:
          type: integer
        kinds:
          type: array
          items:
            $ref: '#/components/schemas/MemoryKind'
        surfaces:
          type: array
          items:
            type: string
        asOf:
          type: string
          format: date-time
    WriteScope:
      oneOf:
        - type: object
          required: [mode]
          properties:
            mode:
              type: string
              enum: [additive, full]
        - type: object
          required: [mode, allow]
          properties:
            mode:
              type: string
              enum: [scoped]
            allow:
              type: array
              items:
                type: string
              minItems: 1
    PublishSource:
      type: object
      required: [kind, content]
      properties:
        kind:
          type: string
          enum: [markdown, docx, pdf, html]
        content:
          type: string
        encoding:
          type: string
          enum: [utf8, base64]
        filename:
          type: string
        title:
          type: string
    PublishContentRequest:
      type: object
      required: [source, writeScope]
      properties:
        projectId:
          type: string
          format: uuid
          description: Optional — omitted ensures __walkcroach_sdk__
        source:
          $ref: '#/components/schemas/PublishSource'
        target:
          type: object
          properties:
            repo:
              type: string
              description: owner/name — required unless dryRun
              pattern: '^[\w.-]+/[\w.-]+$'
            path:
              type: string
        writeScope:
          $ref: '#/components/schemas/WriteScope'
        instructions:
          type: string
        dryRun:
          type: boolean
        idempotencyKey:
          type: string
        planApproval:
          type: string
          enum: [auto, required]
          description: |
            v1 only supports `auto` (default). `required` is rejected — async
            SDK auto-approves Plan (A1). Interactive plan review is IDE-only.
        requirePlanApproval:
          type: boolean
          deprecated: true
          description: Alias for planApproval=required; rejected on v1
    RunAccepted:
      type: object
      required: [runId, status, createdAt, pollUrl]
      properties:
        runId:
          type: string
          format: uuid
        status:
          type: string
        createdAt:
          type: string
          format: date-time
        pollUrl:
          type: string
    RunEvent:
      type: object
      required: [seq, at, type, payload]
      properties:
        seq:
          type: integer
        at:
          type: string
          format: date-time
        type:
          type: string
          description: |
            Platform progress types include stage.*, plan.auto_approved,
            critic.*, started, finished, interrupt, error. Engine tool events
            may also appear as opaque strings.
        payload:
          type: object
          additionalProperties: true
    PublishResult:
      type: object
      required: [ok, filesWritten, signals, flags, refusals, learned, reason]
      properties:
        ok:
          type: boolean
        contractVersion:
          type: string
          description: Always content.publish/v1 for this surface
          example: content.publish/v1
        pullRequest:
          type: object
          properties:
            number:
              type: integer
            url:
              type: string
            branch:
              type: string
            commitSha:
              type: string
        filesWritten:
          type: array
          items:
            type: string
        files:
          type: array
          items:
            type: object
            properties:
              path:
                type: string
              content:
                type: string
        signals:
          type: array
          items:
            type: object
        flags:
          type: array
          items:
            type: object
        criticFindings:
          type: array
          items:
            $ref: '#/components/schemas/CriticFinding'
        refusals:
          type: array
          items:
            type: object
        learned:
          type: array
          items:
            type: string
        reason:
          type: string
        error:
          type: string
        planAutoApproved:
          type: boolean
        approvedPlan:
          type: string
    CriticFinding:
      type: object
      required: [checkId, rule, severity, message]
      properties:
        checkId:
          type: string
        rule:
          type: string
        severity:
          type: string
          enum: [error, warning]
        message:
          type: string
        path:
          type: string
        excerpt:
          type: string
    RunSnapshot:
      type: object
      required:
        - runId
        - threadId
        - status
        - kind
        - attempts
        - createdAt
        - startedAt
        - finishedAt
        - result
        - error
        - interrupt
        - events
        - lastSeq
        - pollAfterMs
      properties:
        runId:
          type: string
          format: uuid
        threadId:
          type: string
          description: LangGraph-style alias — equals runId for content runs
        status:
          type: string
          enum: [queued, running, succeeded, failed, cancelled, interrupted]
        kind:
          type: string
          example: content.publish
        attempts:
          type: integer
        createdAt:
          type: string
          format: date-time
        startedAt:
          type: string
          nullable: true
          format: date-time
        finishedAt:
          type: string
          nullable: true
          format: date-time
        result:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/PublishResult'
            - $ref: '#/components/schemas/GraphRunResult'
        error:
          type: string
          nullable: true
        interrupt:
          type: object
          nullable: true
          additionalProperties: true
        events:
          type: array
          items:
            $ref: '#/components/schemas/RunEvent'
        lastSeq:
          type: integer
        pollAfterMs:
          type: integer
    GraphRunResult:
      type: object
      required:
        - ok
        - graphId
        - nodeExecutionCount
        - reviseCount
        - visitCounts
        - reason
      properties:
        ok:
          type: boolean
        contractVersion:
          type: string
          example: graph.run/v1
        graphId:
          type: string
        nodeExecutionCount:
          type: integer
        reviseCount:
          type: integer
        visitCounts:
          type: object
          additionalProperties:
            type: integer
        reason:
          type: string
        error:
          type: string
        rememberedId:
          type: string
        criticFindings:
          type: array
          items:
            $ref: '#/components/schemas/CriticFinding'
        pipelineOk:
          type: boolean
    GraphsCatalog:
      type: object
      required: [contractVersion, nodes, presets, predicates, caps]
      properties:
        contractVersion:
          type: string
          example: graph.run/v1
        nodes:
          type: array
          items:
            type: object
            required: [type, kind, description, configKeys]
            properties:
              type:
                type: string
              kind:
                type: string
              description:
                type: string
              configKeys:
                type: array
                items:
                  type: string
        presets:
          type: array
          items:
            type: object
            required: [id, description]
            properties:
              id:
                type: string
                example: content.publish
              description:
                type: string
        predicates:
          type: array
          items:
            type: string
        caps:
          type: object
          properties:
            maxNodeExecutions:
              type: integer
            maxNodes:
              type: integer
            maxEdges:
              type: integer
        note:
          type: string
    GraphsValidateRequest:
      type: object
      properties:
        graph:
          $ref: '#/components/schemas/PublicGraphDefinition'
        preset:
          type: string
          enum: [content.publish]
    GraphsValidateResponse:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
        contractVersion:
          type: string
        errors:
          type: array
          items:
            type: string
        needsAgent:
          type: boolean
        graph:
          $ref: '#/components/schemas/PublicGraphDefinition'
        preset:
          type: string
        note:
          type: string
    GraphsRunRequest:
      type: object
      properties:
        projectId:
          type: string
          format: uuid
        graph:
          $ref: '#/components/schemas/PublicGraphDefinition'
        preset:
          type: string
          enum: [content.publish]
        input:
          type: object
          additionalProperties: true
        writeScope:
          $ref: '#/components/schemas/WriteScope'
        idempotencyKey:
          type: string
        source:
          $ref: '#/components/schemas/PublishSource'
        target:
          type: object
          properties:
            repo:
              type: string
            path:
              type: string
        instructions:
          type: string
        dryRun:
          type: boolean
    PublicGraphDefinition:
      type: object
      required: [entry, maxNodeExecutions, nodes, edges]
      description: |
        Catalog-only graph. Unknown types and BYO keys are rejected.
        No HostAdapter, tools, or CriticGate schema authoring.
      properties:
        id:
          type: string
        entry:
          type: string
        maxNodeExecutions:
          type: integer
          minimum: 1
          maximum: 40
        nodes:
          type: array
          maxItems: 24
          items:
            type: object
            required: [id, type]
            properties:
              id:
                type: string
              type:
                type: string
                description: Must be a PLATFORM_NODE_TYPES catalog id
              config:
                type: object
                additionalProperties: true
        edges:
          type: array
          maxItems: 48
          items:
            type: object
            required: [from, to]
            properties:
              from:
                type: string
              to:
                nullable: true
                oneOf:
                  - type: string
                  - type: 'null'
              when:
                type: string
                description: Named predicate (always, criticPass, …) — no customer JS
    EnsuredProject:
      type: object
      required: [id, name, kind, surfaceOrigin, created]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        kind:
          type: string
        surfaceOrigin:
          type: string
        created:
          type: boolean
